.start {
    margin-top: 40px;
    display: inline-block;
    margin-left: 60px;
    background-color: #054FD7;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    color: white;
}
