form {

   width: 100%;
   display: inline;
   margin-bottom: 30px;
   

}


    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
    }

    .form-row:last-of-type {
        margin-bottom: 0%;
    }

        label {
        width: 100%;
        margin-top: 5px;
        display: inline-block;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 15x;
        

        }

        input {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            /* line-break: 25px; */
            margin-top: 10px;

        }