
body {
   background-color: aquamarine;
}

    .container {

        display: inline-block;
        width: 800px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        /* background-color: whitesmoke; */
        
    }

        .left {
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 20px;
            background-color: blue;
            padding: 40px;
            padding-bottom: 20px;
            



        }

            .left > h1 {
               
                width: 100%;
                color: white;
            }

            footer {
                
                display: inline-block;
            }

                footer > a {
                    color: white;
                    width: 100%;

                }

                footer > span {
                   color: white;
                }



        .right {
           display: inline-block;
           width: 60%;
           float: left;
           background-color: green;
           padding: 60px;
           /* width: calc(60% - 120px); */
        }

            .exit {
                
                
            }

             .btn {
                display: inline-block;
                line-height: 20px;
                padding: 10px;
                font-size: 18px;
                padding-right: 40px;
                padding-left: 40px;
                background-color: blue;
                border-radius: 20px;
                color: #ffffff;
            }
                
               .form-row > span {
                display: inline-block;
                padding: 10px;
                line-height: 25px;    
                
                }

                .form-row > a {

                    display: inline-block;
                padding: 10px;
                line-height: 25px; 
                    
                }

