body,html {
    height: 100%;
    background-image: url(./back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: relative;
    /* text-align: center; */
    color: white;
    
}

    .left > img {
        margin: 0%;
        width: 25%;
        margin-top: 180px;
        height: 500px;
        float: left;
        margin-left: 290px;
    }

      .sign {
          display: inline-block;
          float: left;
      }  

    .right {
        margin: 0%;
        width: 35%;
        float: right;
        background-color: white;
        height: 550px;
        margin-top: 155px;
        margin-right: 260px;
        float: left;
    }
